---
layout: default
---
<h1 class="main-title">{{ page.candidate.name }}</h1>
<div class="row">
    <div class="col-md-4">
        <img src="{{ page.candidate.image-url }}" class="img-fluid" alt="Foto {{ page.candidate.name }}">
        <div class="card" style="margin-top: 1rem;">
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	<strong>Lahir</strong><br>
		    	"{{ page.candidate.birth.name }}"<br>{{ page.candidate.birth.place }}, {{ page.candidate.birth.date }}
		    </li>
		    <li class="list-group-item">
		    	<strong>Almamater</strong><br>
		    	<ul>
		    	{% for alma in page.candidate.almamater %}
					<li>{{ alma }}</li>
		    	{% endfor %}	
		    	</ul>
		    </li>
		    <li class="list-group-item">
		    	
		    </li>
		  </ul>
		</div>
    </div>
    <div class="col-md-8">
		<div class="control">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-sm btn-info">Ajukan Riwayat Baru</button>&nbsp;&nbsp;
				Filter &amp; Sortir Riwayat:&nbsp;&nbsp;
	            <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                Waktu
	            </button>
	            <div class="dropdown-menu">
	                <a class="dropdown-item" href="#">Terbaru</a>
	                <a class="dropdown-item" href="#">Terlama</a>
	            </div>
	        </div>
		</div>

        <div class="clearfix" style="margin-bottom: 1rem;"></div>
        

		{% for history in page.candidate.history %}
			<div class="card bg-light mb-3">
			  <div class="card-body">
			  	<span class="pull-right"><strong>{{history.time}}</strong></span>
			    <h4 class="card-title">{{history.title}}</h4>
			    <p class="card-text">{{history.detail}}</p>
			  </div>
			</div>	
    	{% endfor %}

    </div>
</div>