---
layout: default
---

{% assign dapil =  page %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.10&appId=125602920880407';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1 class="main-title">{{ dapil.full_name }}</h1>
<span>{{dapil.area_coverage}}</span>
<hr>

<div>

{% for party in page.parties %}

  <div class="card party-box">
    <div class="card-header">
      <img src="{{site.url}}/assets/parties-photo/{{party.name}}.jpg"><span>{{party.name}}</span>
    </div>
    <ul id="{{party.name}}-candidates" class="list-group list-group-flush">
        {% for c in party.candidates %}
          {% assign candidate = site.candidates | where: "permalink", c | first %}
          <li class="list-group-item">
              <img src="{{site.url}}/assets/candidates-photo/{{candidate.permalink}}.{{candidate.photo_ext}}" class="profile-picture" onerror="imgError(this);" alt="Foto {{ candidate.name }}"> <strong>{{candidate.name}}</strong>
              <div class="bio">{{candidate.bio}}</div>
          </li>
          <!--
              <div class="card candidate bg-light mb-3 {{candidate.backgrounds}}">
                <div class="card-body">
                  <span class="pull-right"><strong class="time">{{party.name}}</strong></span>
                  <a href="{{candidate.url}}"><h4 class="card-title">{{candidate.name}}</a></h4>
                    <div class="row">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-6">
                        <p>
                          <strong>Karir Terakhir</strong>:<br>
                          {% assign latest_political_history = candidate.political_histories | last %}
                          {{latest_political_history.title}}
                        </p>
                        <p>
                          <strong>Pernyataan Terbaru</strong>:<br>
                          {% assign latest_opinion_history = candidate.opinion_histories | last %}
                          "{{latest_opinion_history.title}}"
                        </p>
                        <p><a href="{{candidate.url}}">Baca lebih lengkap</a></p>
                      </div>
                    </div>

                </div>
              </div>
          -->
            {% endfor %}

    </ul>
  </div>

{% endfor %}

</div>

<script>

function imgError(image) {
    image.onerror = "";
    image.src = "{{site.url}}/assets/dummy-photo.jpeg";
    return true;
}

</script>
